.idea

myCodeSandbox-backend/.idea
myCodeSandbox-backend/myCodeSandbox-backend/bin
myCodeSandbox-backend/myCodeSandbox-backend/obj
myCodeSandbox-backend/myCodeSandbox-backend/appsettings.Development.json

myCodeSandbox-frontend/node_modules